<ion-view view-title="{{myTitle}}">
  <ion-content class="padding">
    <div class="list card">
      <a class="item item-icon-left item-small" ng-class="[{positive:seleccionarPunto==='Origen'}]" ng-click="seleccionar('Origen')">
        <i class="icon ion-map"></i> Seleccionar Origen
      </a>
      <a class="item item-icon-left" ng-class="[{positive:seleccionarPunto==='Destino'}]" ng-click="seleccionar('Destino')">
        <i class="icon ion-location"></i> Seleccionar Destino
      </a>
    </div>
    <ul class="list">
       <ion-item> <input type="text" placeholder="Etiqueta alarma" ng-model="ruta.etiqueta">
       </ion-item>
      <li class="item item-toggle">
        Notificaciones
        <label class="toggle toggle-positive">
       <input type="checkbox" ng-model="ruta.notificaciones">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
      </li>
      <ion-item>
        <ion-label>Hora</ion-label><input type="time" ng-model="ruta.myDate">
      </ion-item>
      <div class="button-bar">
        <ion-checkbox ng-model="ruta.semana.lun" style="width:14%">Lunes</ion-checkbox>
        <ion-checkbox ng-model="ruta.semana.mar" style="width:14%">Martes</ion-checkbox>
        <ion-checkbox ng-model="ruta.semana.mie" style="width:14%">Miercoles</ion-checkbox>
        <ion-checkbox ng-model="ruta.semana.jue" style="width:14%">Jueves</ion-checkbox>
        <ion-checkbox ng-model="ruta.semana.vie" style="width:14%">Viernes</ion-checkbox>
        <ion-checkbox ng-model="ruta.semana.sab" style="width:14%">Sabado</ion-checkbox>
        <ion-checkbox ng-model="ruta.semana.dom" style="width:14%">Domingo</ion-checkbox>
      </div>
      <button class="button button-block button-positive" ng-click="guardarRuta(ruta)">Guardar
      </button>
    </ul>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
  <div class="bar bar-footer bar-balanced" ng-show="seleccionarPunto.length != 0">
    <div class="title"> Estás seleccionando:{{seleccionarPunto}}</div>
  </div>
</ion-view>
