
<ion-header-bar class="bar-positive">
        <h1 class="title">Entrar a Cronos</h1>
</ion-header-bar>
<ion-view>
<ion-pane class="padding" id="login">
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label" >Nombre</span>
            <input type="text" placeholder="Nombre" ng-model="user.nombre">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Usuario</span>
            <input type="text" placeholder="Usuario" ng-model="user.usuario">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Contraseña</span>
            <input type="password" placeholder="Contraseña" ng-model="user.password">
        </label>
        <button class="button button-block button-positive" ng-click="doLogin(user)">
            Entrar
        </button>
    </div>
</ion-pane>
</ion-view>